<div class="{{wrapper-class}}">
  {{#if label-text}}
    <label>{{label-text}}</label>
  {{/if}}
  <div class="clearfix">
    <div class="pull-left">
      {{input placeholder=placeholder value=valueWhole focus-out="blurred" class=input-class}}
    </div>
    <div class="pull-left">
      {{ember-selectize
      on-blur=(action "blurred")
      select-item=(action "blurred")
      content=fractions
      optionValuePath="content.value"
      optionLabelPath="content.display"
      value=valueFraction
      prompt="Fractions" }}
    </div>
  </div>
</div>
